<!DOCTYPE html>
<html>
  <head>
    <title>Requests</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <title>Requests</title>
  </head>
 
  <div class="container">
    <table class="table " id="mytable">
      
      <thead>
        <tr>
          <th>ID</th>
          <th>Request ID</th>
          <th>Device ID</th>
          <th>Company</th>
          <th>Garden ID</th>
          <th>Requester Name</th>
          <th>Requester Contact</th>
          <th>STATUS</th>
          <th>Action</th>
          <th>EDIT</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody id="loaddata">
        {% for request in requests %}
        <tr id="dynamic{{request[1]}}">
          <td>{{ request[0] }}</td>
          <td>{{ request[1] }}</td>
          <td>{{ request[2] }}</td>
          <td>{{ request[3] }}</td>
          <td id="garden{{request[1]}}">{{ request[4] }}</td>
          <td id="name{{request[1]}}">{{ request[5] }}</td>
          <td id="contact{{request[1]}}">{{ request[6] }}</td>

          <!-- <td>{{request[7]}}</td> -->
         <td id="{{request[1]}}">
            {{ 'Requested' if request[7]==1 else 'APPROVED' if request[7]==2
            else 'BLOKED' }}
          </td> 

          <td>
            <select class="status">
             

              {% if request[7] == 2 %}
              <option value="{{request[1]}}/1"> Requested</option>
              <option value="{{request[1]}}/2" selected disabled>APPROVED</option>
              <option value="{{request[1]}}/4">Bloked</option>
              {%elif request[7]==1%}
              <option value="{{request[1]}}/1" selected disabled>Requested</option>
              <option value="{{request[1]}}/2">APPROVED</option>
              <option value="{{request[1]}}/4">Bloked</option>
              {%else%}
              <option value="{{request[1]}}/1">Requested</option>
              <option value="{{request[1]}}/2">APPROVED</option>
              <option value="{{request[1]}}/4" selected disabled>Bloked</option>
              {% endif %}
            </select>
          </td>


          <td>
            <button
            type="button"
            class="btn btn-primary"
            id="edit-request{{request[1]}}"
            data-toggle="modal"
            data-target="#editRequestModal{{request[1]}}">
           
            Edit
          </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" onclick="deleterequest('{{request[1]}}')">Delete

            </button>

          </td>
        </tr>



<!--MOddal for EDIT And Update request data-->
        <div class="modal fade" id="editRequestModal{{request[1]}}" role="dialog" class="col-md-8">
          <div class="modal-dialog modal-sm vertical-align-center">
            <div class="modal-content">
              <!-- <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">EDIT AND UPDATE</h3>
              </div> -->
              <div class="modal-body">
                 
                <form action="" class="edit-form"  >

                  <div class="form-group">
                    <label for="">Request ID:</label>
                    <input type="text" class="form-control" name="request_id{{request[1]}}" value="{{request[1]}}" readonly/>
                  </div>
                  
                  <div class="form-group">
                    <label for="">Device ID:</label>
                    <input type="text" class="form-control" name="device_id{{request[1]}}" id="" value="{{ request[2] }}" readonly/>
                  </div>

                  <div class="form-group">
                    <label for="">Garden ID:</label>
                    <input type="text" class="form-control" name="garden_id{{request[1]}}" value="{{request[4]}}" />
                  </div>

                  <div class="form-group">
                    <label for="">Requser name:</label>
                    <input type="text" class="form-control" name="requester_name{{request[1]}}" value="{{request[5]}}" />
                  </div>

                  <div class="form-group">
                    <label for="">Requster Contact:</label>
                    <input type="text" class="form-control" name="requester_contact{{request[1]}}" value="{{request[6]}}" required/>
                  </div>

                  <input type="submit" class="btn btn-primary edit-submit-btn" data-dismiss="modal" 
                  id=""  onclick='editandupdate("{{request[1]}}")' >
          
                </form>

                  
              </div>
              <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
              </div>
            </div>
          </div>
      </div>
 <!--end Modal-->     
        
        {% endfor %}
      </tbody>
    </table>    
  </div>

  <hr>

  <button class="btn btn-primary" data-target="#addrequestmodal"  data-toggle="modal">ADD NEW</button>

  
  <!--ADD Manual request Modal-->
  <div class="modal fade" class="col-md-8" role="dialog" id="addrequestmodal">
    <div class="modal-dialog modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-body">
          <form action="">

            <div class="form-group">
              <label for="">Device id</label>
              <input type="text" name="device_id" class="form-control"  required>
            </div>

            <div class="form-group">
              <label for="">Company</label>
              <input type="text" name="company" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="">Garden id</label>
              <input type="text" class="form-control" name="garden_id" required >
            </div>

            <div class="form-group">
              <label for="">Requester Name</label>
              <input type="text" class="form-control" name="requester_name" required>
            </div>

            <div class="form-group">
              <label for="">Requester Contact</label>
              <input type="text" class="form-control" name="requester_contact" required>
            </div>

            <div class="form-group">
             
              <input type="submit" class="btn btn-primary" id="addmanualdata" data-dismiss="modal">
            </div>
            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--End Manual Request  Modal-->
  

  <!--AJAX CODE  STATUS UPDATE-------------------------------------------------------------------------->
    <script type="text/javascript">
   
      $(".status").change(function () {
     
        var val = $(this).val();
        var status=val.slice(-1);
        var request_id=val.slice(0,val.length-2);
       //  alert(device_id + '  ' + status)
        $.ajax({
          url:"/updatestatus/"+status+"/"+request_id,
          type:"PUT",
          data:"",
          success:function(response){

            $("#"+request_id).text(status ==1 ? 'Requested': status==2 ? 'APPROVED': 'Bloked')               
          },
          error:function(error){           
          },
        });        
      });

    </script>
<!--AJAX CODE STATUS UPDATE END-------------------------------------------------------------------------->


<!--Script for Edit  And Update  Modal ------------------------------------------------------------------>
<script type="text/javascript">
function editandupdate(id){  
  // var request_id=$("imput[name=equest_id"+id+"]").val();
  var request_id=$("input[name=request_id"+id+"]").val();
  var device_id=$("input[name=device_id"+id+"]").val();
  var garden_id=$("input[name=garden_id"+id+"]").val(); 
  var requester_name=$("input[name=requester_name"+id+"]").val();
  var requester_contact=$("input[name=requester_contact"+id+"]").val();
  //alert(garden_id + " " + requester_name + " " + requester_contact );

  $.ajax({
   url:'/ajaxeditandupdate',
   type:'POST',
   data:{'request_id':request_id,'garden_id':garden_id,
   'requester_name':requester_name ,'requester_contact': requester_contact},
   success:function(response){
    // alert(response.requester_name)
    id=response.request_id;
    $("#garden"+id).text(response.garden_id)
    $("#name"+id).text(response.requester_name)
    $("#contact"+id).text(response.requester_contact)
   },
   failure:function(eror){},
  });
}
</script>
<!--Script END------------------------------------------------------------------------------------------->



<!--Script for Add manual  data------------------------------------------------------------------->
<script type="text/javascript">

  $("#addmanualdata").on("click", function(e){
    e.preventDefault();
    var device_id=$("input[name=device_id]").val();
    var company=$("input[name=company]").val();
    var garden_id=$("input[name=garden_id]").val();
    var requester_name=$("input[name=requester_name]").val();
    var requester_contact=$("input[name=requester_contact]").val();


    $.ajax({
      type:"POST",
      url:'/addmanualdata',
      data:{'device_id':device_id,'company':company,'garden_id':garden_id,
      'requester_name':requester_name,'requester_contact':requester_contact},
      success:function(response){
        

         alert(response.messege)

      },
      error:function(error){},

    })
    
  });





</script>
<!--End Script for Manual data--------------------------------------------------------------------->



<!--Script for Delete  Request user data----------------------------------------------------------->
<script type="text/javascript">
  
  function deleterequest(id){
       //alert(id)
       let confirmation= confirm("Are You  Sure To  delete  the User ?");
       if(confirmation==true){
           
        $.ajax({
          type:'DELETE',
          url:'/deletepost',
          data:{'request_id':id},
          success:function(response){

            alert(response.messege)

          },
          failure:function(error){},

        })
        
       }
  }
</script>

<!--Script for Delete  Request user data----------------------------------------------------------->

</body>
</html>
