<!DOCTYPE html>
<html>
  <head>
    <title>Requests</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <title>Requests</title>
  </head>
 
  <div class="container">
    <table class="table" id="mytable">
      
      <thead>
        <tr>
          <th>ID</th>
          <th>Request ID</th>
          <th>Device ID</th>
          <th>Company</th>
          <th>Garden ID</th>
          <th>Requester Name</th>
          <th>Requester Contact</th>
          <th>STATUS</th>
          <th>Action</th>
          <th>EDIT</th>
        </tr>
      </thead>
      <tbody>
        {% for request in requests %}
        <tr id="dynamic{{request[1]}}">
          <td>{{ request[0] }}</td>
          <td>{{ request[1] }}</td>
          <td>{{ request[2] }}</td>
          <td>{{ request[3] }}</td>
          <td>{{ request[4] }}</td>
          <td>{{ request[5] }}</td>
          <td>{{ request[6] }}</td>

          <!-- <td>{{request[7]}}</td> -->
         <td id="{{request[1]}}">
            {{ 'Requested' if request[7]==1 else 'APPROVED' if request[7]==2
            else 'BLOKED' }}
          </td> 

          <td>
            <select class="status">
             

              {% if request[7] == 2 %}
              <option value="{{request[1]}}/1"> Requested</option>
              <option value="{{request[1]}}/2" selected disabled>APPROVED</option>
              <option value="{{request[1]}}/4">Bloked</option>
              {%elif request[7]==1%}
              <option value="{{request[1]}}/1" selected disabled>Requested</option>
              <option value="{{request[1]}}/2">APPROVED</option>
              <option value="{{request[1]}}/4">Bloked</option>
              {%else%}
              <option value="{{request[1]}}/1">Requested</option>
              <option value="{{request[1]}}/2">APPROVED</option>
              <option value="{{request[1]}}/4" selected disabled>Bloked</option>
              {% endif %}
            </select>
          </td>


          <td>
            <button
            type="button"
            class="btn btn-primary"
            id="edit-request{{request[1]}}"
            data-toggle="modal"
            data-target="#editRequestModal{{request[1]}}">
           
            Edit
          </button>
 

          </td>
        </tr>



<!--MOddal-->
        <div class="modal fade" id="editRequestModal{{request[1]}}" role="dialog" class="col-md-8">
          <div class="modal-dialog modal-sm vertical-align-center">
            <div class="modal-content">
              <!-- <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">EDIT AND UPDATE</h3>
              </div> -->
              <div class="modal-body">
                 
                <form action="" class="edit-form"  >

                  <div class="form-group">
                    <label for="">Request ID:</label>
                    <input type="text" class="form-control" name="request_id{{request[1]}}" value="{{request[1]}}" readonly/>
                  </div>
                  
                  <div class="form-group">
                    <label for="">Device ID:</label>
                    <input type="text" class="form-control" name="device_id{{request[1]}}" id="" value="{{ request[2] }}" readonly/>
                  </div>

                  <div class="form-group">
                    <label for="">Garden ID:</label>
                    <input type="text" class="form-control" name="garden_id{{request[1]}}" value="{{request[4]}}" />
                  </div>

                  <div class="form-group">
                    <label for="">Requser name:</label>
                    <input type="text" class="form-control" name="requester_name{{request[1]}}" value="{{request[5]}}" />
                  </div>

                  <div class="form-group">
                    <label for="">Requster Contact:</label>
                    <input type="text" class="form-control" name="requester_contact{{request[1]}}" value="{{request[6]}}" required/>
                  </div>

                  <input type="submit" class="btn btn-primary edit-submit-btn" data-dismiss="modal" 
                  id="EditandUpadte"  onclick='editandupdate("{{request[1]}}")' >
          
                </form>

                  
              </div>
              <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
              </div>
            </div>
          </div>
      </div>
 <!--end Modal-->     
        
        {% endfor %}
      </tbody>
    </table>    
  </div>

  <hr>

  <button class="btn btn-primary">ADD NEW</button>


    <!--AJAX CODE-->
    <script type="text/javascript">
      // function Myfunction(id, status) {
      //   alert(id);
      // }

      $(".status").change(function () {

        
        var val = $(this).val();
        var status=val.slice(-1);
        var request_id=val.slice(0,val.length-2);
        
        //console.log(   )
         
        
       //  alert(device_id + '  ' + status)
        $.ajax({
          url:"/updatestatus/"+status+"/"+request_id,
          type:"PUT",
          data:"",
          success:function(response){

            $("#"+request_id).text(status ==1 ? 'Requested': status==2 ? 'APPROVED': 'Bloked')            
    
          },
          error:function(error){
           
          },

        });        
      });

    </script>
<!--Script for Edit  And Update  Modal -->
<script type="text/javascript">


function editandupdate(id){
  
  let request_id=$("imput[name=equest_id"+id+"]").val();
  let device_id=$("input[name=device_id"+id+"]").val();
  let garden_id=$("input[name=garden_id"+id+"]").val(); 
  let requester_name=$("input[name=requester_name"+id+"]").val();
  let requester_contact=$("input[name=requester_contact"+id+"]").val();
  alert(garden_id + " " + requester_name + " " + requester_contact );

  // $.ajax({
  //  type:'POST',
  //  url:'/ajaxeditandupdate',
  //  data:'requst_id:request_id',
  //  success:function(response){

  //  },

  //  failure:function(eror){

  //  },

  // });

}

      //  $(document).on("click", "#EditandUpadte", function () {
        

  //   var device_id=$("input[name=device_id]").val();




</script>




  </body>
</html>
